<table>
  <%= table_header %>
  <% @novigrad_monsters.each do |monster| %>
    <tr>
      <td><%= monster[:id] %></td>
      <td><%= monster[:name] %></td>
      <td><%= monster[:location] %></td>
      <td><%= monster[:best_slayer] %></td>
    </tr>
  <% end %>
</table>