<div class="container">
  <%= link_to 'Add new artist', new_artist_url, class: 'btn btn-success pull-right' %>
  <h2>Artists Table</h2>

  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th class="text-center">Songs</th>
        <th class="text-right">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @artists.each do |artist| %>
        <tr>
          <td><%= artist.name %></td>
          <td class="text-center">
            <%= link_to "#{artist.tracks.size} #{'track'.pluralize(artist.tracks.size)}", artist_url(artist), class: 'btn btn-default' %>
          </td>
          <td class="text-right">
            <%= link_to 'edit', edit_artist_url(artist), class: 'btn btn-warning' %>
            <%= link_to 'remove', artist_url(artist), method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
