<div class="container">
  <%= link_to 'Add new track', new_track_url, class: 'btn btn-success pull-right' %>
  <h2>Tracks Table</h2>

  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th class="text-center">Artists</th>
        <th class="text-center">Playlists</th>
        <th class="text-right">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @tracks.each do |track| %>
        <tr>
          <td><%= track.title %></td>
          <td class="text-center">
            <%= link_to track.artist.name, artist_path(track.artist.id) %>
          </td>
          <td class="text-center">
            <% track.playlists.each do |playlist| %>
              <%= link_to playlist.title, playlist_path(playlist.id) %>
            <% end %>
          </td>
          <td class="text-right">
            <%= link_to 'edit', edit_track_path(track), class: 'btn btn-warning' %>
            <%= link_to 'remove', track_path(track), method: :delete, class: 'btn btn-danger'  %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
