<h1> Teams </h1>
<% number=0 %>
<% @random_captains.each do |c| %>
  <% number+=1 %>
  <table>
    <tr><th><h3><%= "Team #{number}" %></h3></th></tr>
    <tr>
      <th>Id</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Power</th>
    </tr>
    <tr>
      <th><%= c[:id] %></th>
      <th><%= c[:first_name] %></th>
      <th><%= c[:last_name] %></th>
      <th><%= c[:power] %></th>
    </tr>
    <% @random_players[(number-1)*10..10*number].each do |p| %>
      <tr>
        <th><%=p[:id]%></th>
        <th><%=p[:first_name]%></th>
        <th><%=p[:last_name]%></th>
        <th><%=p[:power]%></th>
      </tr>
    <%end%>
  </table>
  <br>
<%end%>
